* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
}

#content{
    background-color: #8DC185;
}

#nav {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background-color: #8DC185;
}

.hatches_div {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 1%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
    
}

.nursing_pie_div {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 1.5%;
    margin-left: 1.5%;
    border: 2px solid #0F1B0E;
}

.nursing_death_div {
    grid-column: 3 / 6;
    grid-row: 2;
    margin-top: 1.1%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
    
}

.nursing_data_div {
    background-color: #A6CFA0;
    grid-column: 4 / 6;
    grid-row: 1;
    margin-top: 1.5%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
    height: auto;
}
.nursing_data_div, .expense_data_div, .income_data_div, .info_data_div span {
    padding: 3%;
    color: #0F1B0E;
    font-size: 20px;
    line-height: 2;
}

.expense_data_div {
    background-color: #A6CFA0;
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 1.5%;
    margin-left: 1.0%;
    border: 2px solid #0F1B0E;
}

.feed_div{
    grid-column: 3 / 6;
    grid-row: 1;
    margin-top: 1%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}

.food_type_pie_div {
    grid-column: 4 / 6;
    grid-row: 2;
    margin-top: 2%;
    margin-left: 0.5%;
    border: 2px solid #0F1B0E;
}

.expenses_type_pie_div {
    grid-column: 2 / 4;
    grid-row: 2;
    margin-top: 2%;
    margin-left: 0.5%;
    border: 2px solid #0F1B0E;
}

.boxplot_div {
    grid-column: 1 / 2;
    grid-row: 2;
    margin-top: 4%;
    margin-left: 1.8%;
    border: 2px solid #0F1B0E;
}

.sell_chart_div {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 1%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}

.income_data_div {
    background-color: #A6CFA0;
    grid-column: 4 / 6;
    grid-row: 1;
    margin-top: 1.5%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}

.heatmap_chart_div {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 2%;
    margin-left: 1.5%;
    border: 2px solid #0F1B0E;
}

.sell_hist_div {
    grid-column: 3 / 6;
    grid-row: 2;
    margin-top: 1.4%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}

.info_income_chart_div {
    grid-column: 1 / 5;
    grid-row: 1;
    margin-top: 1%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}
.info_expenditure_chart_div {
    grid-column: 3 / 6;
    grid-row: 2;
    margin-top: 1.3%;
    margin-left: 1%;
    border: 2px solid #0F1B0E;
}

.info_data_div {
    background-color: #A6CFA0;
    grid-column: 5 / 6;
    grid-row: 1;
    margin-top: 4%;
    margin-left: 1.5%;
    border: 2px solid #0F1B0E;
}
.info_stock_chart_div {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 2%;
    margin-left: 1.8%;
    border: 2px solid #0F1B0E;
}

#select_text{
    color: #0F1B0E;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    margin-right: 1%;
    
}

.year-toggle-buttons, .month-toggle-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    
}

.form-check {
    display: flex;
    gap: 0.5%;
    
}

.form-check-input {
    accent-color: #F2DD6E;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-check-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
}

.form-check-label:hover {
    color: #F2DD6E;
}

.year-toggle-buttons .form-check, 
.month-toggle-buttons .form-check {
    padding: 8px 12px;
    background-color: #F2DD6E;
    border-radius: 6px;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.year-toggle-buttons .form-check-active,
.month-toggle-buttons .form-check-active {
    background-color: #007bff;
    color: #fff;
}

.custom-nav-item {
    font-size: 1.0rem;
    padding: 0.75rem 1.0rem;
    letter-spacing: 0.05em;
    border: 2px solid #0F1B0E;
    background-color: #67AD5C;
}


.custom-nav-item:hover,
.custom-nav-item.active {
    color: #0056b3;
    text-decoration: none;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}